[Unit]
Description=Web kiosk
After=xserver.service network.target
Wants=xserver.service

[Install]
WantedBy=multi-user.target


[Service]
User=fitbase
Group=fitbase
Type=idle
Environment="DISPLAY=:0"
ExecStart=/opt/kiosk/main.py --config=/etc/kiosk/kiosk.conf --logfile=/var/log/kiosk.log
ExecStartPre=/usr/bin/xset s off \
                 && /usr/bin/xset s noblank \
                 && /usr/bin/xset -dpms
StandardOutput=/var/log/kiosk.log
StandardError=/var/log/kiosk.err
Restart=always
RestartSec=3
